<div class="col-md-8 col-md-offset-2">
    
      <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{post.title}}</h3>
    
            <button class="btn btn-default pull-right" [routerLink]="['/admin/posts']"> <i class="fa fa-arrow-back"></i> Back to list posts</button>
            
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
              
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="#" alt="Image">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{post.title}}</h4>
                  <p>{{post.description}}</p>
                </div>
              </div>
              
              
            </div>
          </div>
      </div>
      
        
    
    
      